*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    position: relative;
}
html{
    font-size: 10px;
}
header{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1.8rem;

}
body {
    font-family: Arial, sans-serif;
}
h1{
    font-size: 3.4rem;
    font-weight: bold;
}
.gallery{
    max-width: 80rem;
    margin: 3rem auto;
    padding: 2rem;
}
h2{
    font-size: 2.4rem;
    border-bottom: 1px solid #333;
    padding-bottom: 1rem;
}
.image-gallery{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}
img{
    height:360px;
    width: 240px;
}
footer{
     background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    font-size: 1.8rem;
}


